@{
  Layout = "_Layout";
}
  <div id = "welcome">
    <div class="jumbtron">
      <h1>Welcome to Pierre's Distrobution</h1>
    </div>
  </div>
<div class="card">
  <div class="container">
  <p>.
  </p>
</div>
</div>
<div id= "links">
<div class="container">
<h3><a href='/vendor'>View Vendors</a></h3>
<h3><a href='/vendor/new'>Add a new Vendor</a></h3>
<h3><a href='/vendor/search'>Search for an vendor</a></h3>
</div>
</div>
</div>