@{
  Layout = "_Layout";
}
  <div id = "welcome">
    <div class="jumbtron">
      <h1>Welcome to Pierre's Vendor Solutions!</h1>
    </div>
  </div>
<div class="card">
  <div class="container">
  <img src=https://2.bp.blogspot.com/-vhhz2JyTchI/VFhRN-HvHsI/AAAAAAAADGg/mDywM6OUeM4/s1600/Bakery%2BLogos%2B10.jpg>
  <p>Pierre Vendor Solutions is the easiest way to track your Vendor Orders by date, what was bought and price. you will be able to track by particular vendors
    please click on the links below to view,add or search for venders.
  </p>
</div>
</div>
<div id= "links">
<div class="container">
<h3><a href='/Vendor'>View Vendors</a></h3>
<h3><a href='/Vendor/New.'>Add a new Vendor</a></h3>
<h3><a href='/Vendor/Search'>Search for an vendor</a></h3>
</div>
</div>
</div>